/**
 * Basic typography style for copy text
 */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $cor-preta;
}

b,
strong {
  font-weight: 600;
}

.titulo {
  @extend %titulo;
  font-weight: 500;

  & span {
    color: $cor-azul-claro;
    font-weight: 600;
  }

  &--pequeno {
    @include respond(tiny) {
      font-size: 2.76rem;
    }
  }
}

.subtitulo {
  @extend %subtitulo;

  & span {
    color: $cor-amarelo;
  }

  &--pequeno {
    @extend %subtitulo--pequeno;
  }
}
